<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">Send me an email</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab_username %}
            <li>
              <a href="https://gitlab.com/{{ site.gitlab_username }}"> <i class="fa fa-gitlab"></i><span class="username"> GitLab</span></a>
            </li>
          {% endif %}
          {% if site.twitter_username %}
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}"> <i class="fa fa-twitter"></i><span class="username"> Twitter</span></a>
            </li>
          {% endif %}
          {% if site.goodreads_username %}
            <li>
              <a href="https://goodreads.com/{{ site.goodreads_username }}"><i class="fa fa-goodreads"></i><span class="username">G Goodreads</span></a>
            </li>
          {% endif %}
          {% if site.linkedin_username %}
            <li>
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></i><span class="username"> Linkendin</span></a>
            </li>
          {% endif %}          
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
